@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Roboto Flex", sans-serif;
}

.bg-image {
  background-image: url("../public/bg-img.jpg");
  background-size: cover;
}

li > .active {
  text-underline-offset: 4px;
  text-decoration: underline;
}
